  <!-- menu group avatar group -->
    <div class="container">
        <div class="row" id="menuG">
            <div class="col-md-3">
                <div class="avatarGroup">
                  <%= image_tag("ava.jpeg", alt: "Cover",id:"cover-header") %>
                </div>
                <div class="lean">
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Joined
                        <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                          <li><a href="#">Leave Group</a></li>
                        </ul>
                      </div>
                </div>   
            </div>
            <div class="col-md-6">
                <div class="menugruop">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a href="#">Content</a>
                        </li>
                        <li>
                            <a href="#">Member</a>
                        </li>
                        <li>
                            <a href="#">Attendance</a>
                        </li>
                        <li>
                            <a href="#">Calendar</a>
                        </li>
                        <li>
                            <a href="#">Pending items</a>
                        </li>
                        <li>
                            <a href="#">Settings</a>
                        </li>
                    </ul>     
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
    <!-- end menu group avatar group -->