<div class="container" id="calendar" >
  <div class="row">
    <div class="col-md-1"></div>
    <!-- mid -->
    <div class="col-md-8">
      <div class="calendar"></div>

    </div>
    <!-- end mid -->
    <div class="col-md-1"></div>
  </div>
</div>
<div id='remote_container'></div>
