
@import "bootstrap-sprockets";
@import "bootstrap";

.content-body {
 border-top: 1px solid #eaeaea;
 padding-top: 15px;
 padding-bottom: 15px;
}
.content-title {
 font-weight: bold;
 font-size: 1.5em;
}
.content-title {
 font-weight: bold;
 font-size: 1.5em;
}
.bt-create {
 padding-left: 220px;
 padding-bottom:10px;
}
.level-right{
padding-right:30px;
}

.date {
padding-bottom: 10px;
}
.star {
 margin-top: 10px;
 }
.szcontent{
  padding-left:238px;
  width:885px;
}
.img-sz{
width: 50px;
}
