
@import "bootstrap-sprockets";
@import "bootstrap";


.content-body {
 padding-top: 15px;
 padding-bottom: 15px;
 width: 550px;
}
.content-date-join {
  padding-top: 15px;
 padding-bottom: 15px;
}

.content-date-join span {
  color: aqua;
}

.content-img {
  padding-top: 15px;
  padding-bottom: 15px;
  width: 127px;
 }

.content-body span {
  font-size: 15px;
  color:#E0F8EC;
}

.content-email span {
  font-size: 15px;
  color:aqua;
  width: 200px;
}

.content-body a {
  font-size: 15px;
  color:rgb(86, 128, 128);
}
.bt-create {
 padding-left: 205px;
 padding-bottom:10px;
 padding-right: 205px;
}
.level-right{
padding-right:30px;
}
.background-image-content{
  background-image: url("");
  width: 234px;
  height: 300px;
  position: relative;
}

.content-group  {
  position: absolute;
  top: 10px;
  left: 50px;
  width: 200px;
}
.content-status{
background-color: #fff;
width: 120px;
height: 30px;
position: relative;
left:-35px;
top: -10px;
border-radius: 5px;

}
.content-date {
padding-bottom: 10px;
}
.content-star {
 padding-bottom: 10px;
padding-top: 10px;
 }
 .content-drop{
font-size: 15px;
text-decoration: none;
color: darkgrey;
 }
.content-sz{
  padding-left:127px;
  width:980px;
}
.content-center {
  padding-bottom: 10px;
  width: 100px;
}
.img-sz{
width: 50px;
}

.content-title {
  font-size: 18px;
  font-weight: bold;
}
